
.About{
    background-color: #1abc9c;
    padding-block: 75px;
    

    h2{
        color: white;
        font-size: 3rem !important;
        font-weight: 600 !important;
        margin-bottom: 20px !important;
        text-align: center;
        font-family: "Montserrat", sans-serif;

    }
}