.star-divider {
    margin-block: 30px !important;
    position: relative;
    text-align: center;
    width: 40px;
    margin:auto;
}
.star-divider::after{
    background-color: #fff;
    border-radius: 2px;
    content: "";
    height: 4px;
    position: absolute;
    top: 1px;
    width: 120px;
    right: 50px;
}
.star-divider::before{
    background-color: #fff;
    border-radius: 2px;
    content: "";
    height: 4px;
    position: absolute;
    top: 1px;
    width: 120px;
    left: 50px;
}

.fa-star{
    color: #fff;
}